/target/
/.idea/
/bin/
/.settings/
/ProtectionStones.iml
/.classpath
/.project
/dependency-reduced-pom.xml
/*.iml

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

**/build/

# Common working directory
run/
runs/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

